.page-enter-active, .page-leave-active
  transition: all .1s

.page-enter, .page-leave-active
  opacity: 0

html,
body,
div,
span,
applet,
object,
iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

*
  box-sizing: border-box
  font-size: 0
  line-height: 0
  font-family: 'Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif'

body > a
  font-size: 0

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  color: inherit
  text-decoration: none

::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-track-piece
  background-color: rgba(0, 0, 0, 0.2)

::-webkit-scrollbar-thumb:vertical
  height: 5px
  background-color: rgba(125, 125, 125, 0.7)

::-webkit-scrollbar-thumb:horizontal
  width: 5px
  background-color: rgba(125, 125, 125, 0.7)


@media (max-width: 992px) 

  @media (min-width: 240px) {
      html {
          font-size: 32px !important;
      }
  }
  @media (min-width: 320px) {
      html {
          font-size: 42.66667px !important;
      }
  }
  @media (min-width: 360px) {
      html {
          font-size: 48px !important;
      }
  }
  @media (min-width: 375px) {
      html {
          font-size: 50px !important;
      }
  }
  @media (min-width: 384px) {
      html {
          font-size: 51.2px !important;
      }
  }
  @media (min-width: 411px) {
      html {
          font-size: 54.8px !important;
      }
  }
  @media (min-width: 414px) {
      html {
          font-size: 55.2px !important;
      }
  }
  @media (min-width: 424px) {
      html {
          font-size: 56.53333px !important;
      }
  }
  @media (min-width: 480px) {
      html {
          font-size: 64px !important;
      }
  }
  @media (min-width: 540px) {
      html {
          font-size: 72px !important;
      }
  }
  @media (min-width: 640px) {
      html {
          font-size: 85.33333px !important;
      }
  }
  @media (min-width: 720px) {
      html {
          font-size: 96px !important;
      }
  }
  @media (min-width: 750px) {
      html {
          font-size: 100px !important;
      }
  }
  @media (min-width: 768px) {
      html {
          font-size: 102.4px !important;
      }
  }
  @media (min-width: 800px) {
      html {
          font-size: 106.66667px !important;
      }
  }
  @media (min-width: 980px) {
      html {
          font-size: 130.66667px !important;
      }
  }
  @media (min-width: 1024px) {
      html {
          font-size: 136.53333px !important;
      }
  }

@font-face {
  font-family: NotoSansHansMedium;
  src:url('~assets/fonts/NotoSansHans-Medium.otf'),
}
@font-face {
  font-family: SourceHanSerifCNBold;
  src:url('~assets/fonts/SourceHanSerifCN-Bold.otf'),
}
@font-face {
  font-family: TimesNewRomanPSBoldMT;
  src:url('~assets/fonts/TimesNewRomanPSBoldMT.ttf'),
}